$color_1: $color_1;
$color_2: $color_2;
$color_3: $color_3;
$color_4: $color_4;
$color_5: $color_5;
$font_family_1: $font_family_1;
$font_family_2: $font_family_2;
$font_family_3: $font_family_3;
$background_color_1: $background_color_1;
$background_color_2: $background_color_2;

/* Navbar
====================================
*/
/* Home
====================================
*/
/* Last releases
====================================
*/
/* correccion margin */
/* Biography
====================================
*/
/* texto*/
/* Discography
====================================
*/
/* Dates
====================================
*/
/* Booking
====================================
*/
$color_1 {
	&: {
		white; {
			$color_2 {
				&: {
					black; {
						$color_3 {
							&: {
								#fff; {
									$color_4 {
										&: {
											$secondary-color; {
												$color_5 {
													&: {
														darken($primary-color {
															box-sizing: border-box;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
10%); {
	$font_family_1 {
		&: {
			'Oswald' {
				box-sizing: border-box;
			}
		}
	}
}
sans-serif; {
	$font_family_2 {
		&: {
			'Ubuntu' {
				box-sizing: border-box;
			}
		}
	}
	$font_family_3 {
		&: {
			'Ubuntu' {
				box-sizing: border-box;
			}
		}
	}
}
sans {
	serif; {
		$background_color_1 {
			&: {
				#9b122c; {
					$background_color_2 {
						&: {
							transparent; {
								$background_color_3 {
									&: {
										rgba(white {
											box-sizing: border-box;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.8); {
	* {
		box-sizing: border-box;
	}
}
html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h1 {
	font-family: $font_family_1;
	text-transform: uppercase;
	text-align: center;
	font-size: 80px;
	letter-spacing: 1px;
	color: $color_1;
}
h2 {
	font-family: $font_family_1;
	text-transform: uppercase;
	text-align: center;
	font-size: 60px !important;
	letter-spacing: 1px;
	color: $color_2;
	display: block;
	margin-block-start: 0.40em;
	margin-block-end: 0.20em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
h3 {
	font-family: $font_family_2;
	text-align: center;
	font-size: 30px;
	color: $color_2;
}
h4 {
	font-family: $font_family_2;
	text-align: center;
	font-size: 14px !important;
	color: $color_2;
	font-weight: 600;
}
h5 {
	font-family: $font_family_2;
	text-align: center;
	font-size: 14px! important;
	color: $color_2;
	font-weight: 300;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $color_1;
}
.text-block {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	font-family: $font_family_1;
	width: 100%;
	position: relative;
	color: $color_3;
	height: 25px;
	padding-top: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}
.container_releases {
	display: flex;
	flex-wrap: wrap;
	padding: 7px;
	justify-content: center;
}
.subcontainer_release {
	border: none;
	color: $color_1;
	opacity: 1;
	transition: 0.3s;
	&: hover { opacity: 0.8;
}
} {
	.release {
		margin: 5px;
	}
	#paragraph-disco {
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		padding: 7px;
		justify-content: center;
	}
	label { position: absolute;
	left: 25px;
	top: 25px;
	display: block;
	margin: 0;
	font-weight: 300;
	z-index: 1;
	color: $color_4;
	font-size: 18px;
	line-height: 10px;
	.square-button { background-color: $background_color_3;
	color: $color_5;
	font-size: 26px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	@include border-radius(2px); @include transition(all 0.3s ease); padding: 0 60px;
	height: 60px;
	border: none;
	width: 100%;
	&: hover, &:focus{ background-color: white;
	} {
		.form-control {
			background-color: $background_color_2;
			padding: 0;
			border: none;
			@include border-radius(0); @include box-shadow(none); height: auto;
			position: relative;
			z-index: 2;
			font-size: 18px;
			color: $color_4;
			&: focus { label{ top: 0;
		}
	}
}
p {
	font-family: $font_family_2;
	font-size: 16px;
	word-spacing: 1px;
	letter-spacing: 0,5px;
	color: $color_2;
	margin-right: auto;
	margin-left: auto;
	max-width: 1220px;
}
#paragraph-bio {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	padding: 7px;
	justify-content: center;
}
.izquierda {
	float: left;
	padding: 10px;
	width: 550px;
	margin: 40px;
	float: left;
	padding: 10px;
	width: 550px;
	margin: 40px;
}
.derecha {
	float: left;
	padding: 10px;
	width: 550px;
	margin: 40px;
	padding: 10px;
	width: 550px;
	margin: 40px;
}
ul {
	li { font-family: $font_family_2;
	color: $color_2;
	margin-right: auto;
	margin-left: auto;
	max-width: 1220px;
	list-style: none;
}
.releases-li {
	float: left;
	padding: 10px;
	width: 600px;
	margin: 40px;
}
.remix-li {
	float: left;
	padding: 10px;
	width: 600px;
	margin: 40px;
}
.image {
	background-image: url('dates.jpg');
	background-position: center center;
	width: 100%;
	height: 900px;
}
.dates {
	font-family: $font_family_2;
	color: $color_2;
}
.container_dates {
	display: flex;
	flex-flow: row-nowrap;
	padding: 10px;
	flex-wrap: wrap;
	padding: 7px;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.hijo {
	width: 50px;
	height: 50px;
	background-color: $background_color_1;
	border: none;
	padding: 5px;
	margin: 5px;
	font-family: $font_family_3;
	font-size: 38px;
	color: $color_1 !important;
}
.hijo2 {
	width: 300px;
	height: 50px;
	background-color: $background_color_2;
	color: $color_2;
	border: none;
	padding: 5px;
	margin: 5px;
	font-family: $font_family_3;
	font-size: 16px;
	color: $color_1 !important;
}
.contact-wrap {
	padding: 15px;
}
.contact-form {
	margin-top: 30px;
	.input-block{ background-color: rgba(white, .8);
	border: solid 1px $primary-color;
	width: 100%;
	height: 60px;
	padding: 25px;
	position: relative;
	margin-bottom: 20px;
	@include transition(all 0.3s ease-out); &.focus{ background-color: $form-bg;
	border: solid 1px darken($primary-color, 10%);
}
&.textarea {
	height: auto;
	.form-control{ height: auto;
	resize: none;
}
@media (min-width: 768px) {
	.contact-wrap {
		width: 60%;
		margin: auto;
	}
}
