$color_1: white;
$color_2: black;
$color_3: #fff;
$color_4: #aca49c;
$color_5: #bbb5af;
$color_6: #e2dedb;
$color_7: #cbc6c1;
$color_8: #726659;
$font_family_1: 'Oswald', sans-serif;
$font_family_2: 'Ubuntu', sans-serif;
$font_family_3: 'Ubuntu', sans serif;
$font_family_4: 'Work Sans', sans-serif;
$font_family_5: 'Lato', sans-serif;
$background_color_1: #9b122c;
$background_color_2: transparent;


@import "https://fonts.googleapis.com/css?family=Lato:100,300,400";


* {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
h1 {
	font-family: $font_family_1;
	text-transform: uppercase;
	text-align: center;
	font-size: 80px;
	letter-spacing: 1px;
	color: $color_1;
}
h2 {
	font-family: $font_family_1;
	text-transform: uppercase;
	text-align: center;
	font-size: 60px !important;
	letter-spacing: 1px;
	color: $color_2;
	display: block;
	margin-block-start: 0.40em;
	margin-block-end: 0.20em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
h3 {
	font-family: $font_family_2;
	text-align: center;
	font-size: 30px;
	color: $color_2;
}
h4 {
	font-family: $font_family_2;
	text-align: center;
	font-size: 14px !important;
	color: $color_2;
	font-weight: 600;
}
h5 {
	font-family: $font_family_2;
	text-align: center;
	font-size: 14px! important;
	color: $color_2;
	font-weight: 300;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $color_1;
}
.text-block {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	font-family: $font_family_1;
	width: 100%;
	position: relative;
	color: $color_3;
	height: 25px;
	padding-top: 1px;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
}
.container_releases {
	display: flex;
	flex-wrap: wrap;
	padding: 7px;
	justify-content: center;
}
.subcontainer_release {
	border: none;
	color: $color_1;
	opacity: 1;
	transition: 0.3s;
	&:hover {
		opacity: 0.8;
	}
}
.release {
	margin: 5px;
}
.image_bio {
	background-image: url('yotto3.png');
	background-position: center center;
	width: 100%;
	height: 450px;
}
p {
	font-family: $font_family_2;
	font-size: 16px;
	word-spacing: 1px;
	letter-spacing: 0,5px;
	color: $color_2;
	margin-right: auto;
	margin-left: auto;
	max-width: 1220px;
}
#paragraph-bio {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	padding: 7px;
	justify-content: center;
}
.izquierda {
	float: left;
	padding: 10px;
	width: 550px;
	margin: 40px;
	float: left;
	padding: 10px;
	width: 550px;
	margin: 40px;
}
.derecha {
	float: left;
	padding: 10px;
	width: 550px;
	margin: 40px;
	padding: 10px;
	width: 550px;
	margin: 40px;
}
ul {
	li {
		font-family: $font_family_2;
		color: $color_2;
		margin-right: auto;
		margin-left: auto;
		max-width: 1220px;
		list-style: none;
	}
}
#paragraph-disco {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	padding: 7px;
	justify-content: center;
}
.releases-li {
	float: left;
	padding: 10px;
	width: 600px;
	margin: 40px;
}
.remix-li {
	float: left;
	padding: 10px;
	width: 600px;
	margin: 40px;
}
.image {
	background-image: url('dates.jpg');
	background-position: center center;
	width: 100%;
	height: 900px;
}
.dates {
	font-family: $font_family_2;
	color: $color_2;
}
.container_dates {
	display: flex;
	flex-flow: row-nowrap;
	padding: 10px;
	flex-wrap: wrap;
	padding: 7px;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.hijo {
	width: 50px;
	height: 50px;
	background-color: $background_color_1;
	border: none;
	padding: 5px;
	margin: 5px;
	font-family: $font_family_3;
	font-size: 38px;
	color: $color_1 !important;
}
.hijo2 {
	width: 300px;
	height: 50px;
	background-color: $background_color_2;
	color: $color_2;
	border: none;
	padding: 5px;
	margin: 5px;
	font-family: $font_family_3;
	font-size: 16px;
	color: $color_1 !important;
}
input {
	&::-webkit-input-placeholder {
		color: $color_4;
		font-size: 0.875em;
	}
	&:focus {
		&::-webkit-input-placeholder {
			color: $color_5;
		}
		&::-moz-placeholder {
			color: $color_5;
		}
		&::placeholder {
			color: $color_5;
		}
		&::-ms-placeholder {
			color: $color_5;
		}
	}
	&::-moz-placeholder {
		color: $color_4;
		font-size: 0.875em;
	}
	&::placeholder {
		color: $color_4;
		font-size: 0.875em;
	}
	&::-ms-placeholder {
		color: $color_4;
		font-size: 0.875em;
	}
	&:hover {
		&::-webkit-input-placeholder {
			color: $color_6;
			font-size: 0.875em;
		}
		&:focus {
			&::-webkit-input-placeholder {
				color: $color_7;
			}
			&::-moz-placeholder {
				color: $color_7;
			}
			&::placeholder {
				color: $color_7;
			}
			&::-ms-placeholder {
				color: $color_7;
			}
		}
		&::-moz-placeholder {
			color: $color_6;
			font-size: 0.875em;
		}
		&::placeholder {
			color: $color_6;
			font-size: 0.875em;
			color: $color_6;
			font-size: 0.875em;
		}
		background: #d48191;
		color: $color_6;
	}
	font-family: $font_family_4;
	font-size: 0.875em;
	width: 470px;
	height: 50px;
	padding: 0px 15px 0px 15px;
	background: transparent;
	outline: none;
	color: $color_8;
	border: solid 1px #b3aca7;
	border-bottom: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
textarea {
	&::-webkit-input-placeholder {
		color: $color_4;
		font-size: 0.875em;
	}
	&:focus {
		&::-webkit-input-placeholder {
			color: $color_5;
		}
		&::-moz-placeholder {
			color: $color_5;
		}
		&::-ms-placeholder {
			color: $color_5;
		}
	}
	&::-moz-placeholder {
		color: $color_4;
		font-size: 0.875em;
	}
	&::placeholder {
		color: $color_4;
		font-size: 0.875em;
	}
	&::focus {
		&:placeholder {
			color: $color_5;
		}
	}
	&::-ms-placeholder {
		color: $color_4;
		font-size: 0.875em;
	}
	&:hover {
		&::-webkit-input-placeholder {
			color: $color_6;
			font-size: 0.875em;
		}
		&:focus {
			&::-webkit-input-placeholder {
				color: $color_7;
			}
			&::-moz-placeholder {
				color: $color_7;
			}
			&::placeholder {
				color: $color_7;
			}
		}
		&::-moz-placeholder {
			color: $color_6;
			font-size: 0.875em;
		}
		&::placeholder {
			color: $color_6;
			font-size: 0.875em;
			color: $color_6;
			font-size: 0.875em;
		}
		&::focus {
			&:-ms-placeholder {
				color: $color_7;
			}
		}
		background: #d48191;
		color: $color_6;
	}
	width: 470px;
	max-width: 470px;
	height: 110px;
	max-height: 110px;
	padding: 15px;
	background: transparent;
	outline: none;
	color: $color_8;
	font-family: $font_family_5;
	font-size: 0.875em;
	border: solid 1px #b3aca7;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
#form {
	position: relative;
	width: 500px;
	margin: 50px auto 100px auto;
}
.footer {
	background: #111;
	color: $color_1;
}
.footerlinks {
	color: $color_3 !important;
	text-decoration: none !important;
	background-color: $background_color_2;
}
.copyright {
	p {
		border-top: 1px solid rgba(255,255,255,.1);
	}
}
